@model IEnumerable<HealHub.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}
<div style="background-color:white; padding:10px; width:1200px;" class="rounded-3">

<h1>Feedback</h1>

<p>
        <a asp-action="Create" class="btn btn-dark">Adicionar Novo Feedback</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authorized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prognosis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authorized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prognosis.Id)
            </td>
            <td>
            <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.FeedbackId">Editar</a> |
            <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.FeedbackId">Detalhes</a> |
            <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.FeedbackId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>