@model IEnumerable<HealHub.Models.User>

@{
    ViewData["Title"] = "Index";
}
<div style="background-color:white; padding:10px; width:1000px;" class="rounded-3">

<h1>Usuario</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark">Adicionar Novo Usuario</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
            <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.id">Editar</a> |
            <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.id">Detalhes</a> |
            <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>