@model HealHub.Models.Form

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Formulario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class = "col-sm-2">
           IDade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            Peso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt class = "col-sm-2">
            Altura
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt class = "col-sm-2">
           Sintomas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.symptoms)
        </dd>
        <dt class = "col-sm-2">
            Duração
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            Historico de doenças
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diseaseHistory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
