@model IEnumerable<HealHub.Models.Form>

@{
    ViewData["Title"] = "Index";
}
<div style="background-color:white; padding:10px; width:1000px;" class="rounded-3">

<h1>Formulario</h1>

<p>
        <a asp-action="Create" class="btn btn-dark">Adicionar Novo Formulario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Idade
            </th>
            <th>
               Peso
            </th>
            <th>
               ALtura
            </th>
            <th>
                SIntomas
            </th>
            <th>
                Duração
            </th>
            <th>
               Historico de doenças
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diseaseHistory)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
