@model IEnumerable<HealHub.Models.Prognosis>

@{
    ViewData["Title"] = "Index";
}

<div style="background-color:white; padding:10px; width:1000px;" class="rounded-3">

<h1>Prognostico</h1>

<p>
        <a asp-action="Create" class="btn btn-dark">Adicionar Novo Prognostico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descricao
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.formId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                        <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>